/* .column__title {
  width: 98px;
  height: 30px;
  gap: 10px;
  border-radius: 50px;
  background: rgba(16, 16, 16, 0.2);
}

.column__title p {
  display: none;
}

.cards__item {
  width: 270px;
  height: 159px;
  border-radius: 24px;
  border-width: 1px;
  padding: 20px;
  background-color: rgba(217, 217, 217, 1);
  border: 1px solid rgba(16, 16, 16, 1);
}

.cards__card {
  display: contents;
}

.card__group {
  width: 230px;
  height: 30px;
  border-radius: 50px;
  background: rgba(177, 177, 177, 1);
}
.card__theme,
.card__theme a {
  display: none;
}

.card__content blank {
  width: 164px;
  border-radius: 50px;
  background: rgba(177, 177, 177, 1);
}

.card__title,
.card__description {
  display: none;
}

.card__date {
  width: 81px;
  height: 15px;
  gap: 10px;
  border-radius: 50px;
  background-color: rgba(177, 177, 177, 1);
}

.card__date svg,
.card__date p {
  display: none;
} */
