/* .card {
  padding: 2em;
}

.card__description {
  color: black;
  opacity: 0.5;
}

.cards {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cards__item {
  animation-name: card-animation;
  animation-duration: 500ms;
  animation-timing-function: linear;
}
.cards__card {
  width: 220px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  padding: 16px 13px 16px;
}

.card__group {
  width: 100%;
  height: 20px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__theme {
  width: auto;
  height: 20px;
  padding: 5px 14px;
  border-radius: 18px;
}
.card__theme__text {
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
}
.card__btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
}
.card__btn div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #94a6be;
}
.card__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  margin-bottom: 25px;
}
.card__content {
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.card__date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card__date svg {
  width: 13px;
  color: #94a6be;
}
.card__date p {
  margin-left: 6px;
  font-size: 10px;
  line-height: 13px;
  color: #94a6be;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 1200px) {
  .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
  }
  .cards__card {
    width: 220px;
    height: 140px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    padding: 15px 13px 15px;
  }
} */
